<div class="cards-wrapper">
  <div class="cards">
    {% for post in include.category %}
    <div class="card-shadow-wrap">
      <div class="card">
        <a href="{{site.baseurl}}{{post.url}}">
            {% if post.intro_image %}
            <img src="{{post.intro_image}}"{% if post.intro_image_name %} alt="{{post.intro_image_caption}}"{% endif %}/>
            {% endif %}
            <div>
              <h2>{{post.title}}</h2>
              {{post.excerpt}}
            </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
