/**
 * Site header
 */
.site-header {
  border-top: 5px solid $primary-color;
  border-bottom: 1px solid $primary-color-dark;
  .wrapper {
    padding: 0;
  }
}

.site-title {
  font-size: 26px;
  height: 56px;
  line-height: 56px;
  float: left;
  margin-left: $spacing-unit;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.menu-icon {
  display: none;
  float: right;
  margin-right: $spacing-unit;
  height: 56px;
  > svg {
    display: inline;
    margin: 19px 9px;
    height: 18px;
    path {
      fill: $grey-color-dark;
    }
  }
}

.site-nav {
  float: right;
  height: 56px;
  line-height: 56px;
  margin-right: $spacing-unit;
}

.trigger {
  list-style-type: none;
  margin: 0;
  border-top: 1px solid $grey-color-light;
  li {
    margin: 0 10px;
    display: inline-block;
    text-align: center;
  }
}

.page-link {
  &, &:visited {
    color: $grey-color-dark;
  }
}

@include media-query($on-palm) {
  .menu-icon {
    display: block;
  }
  .site-nav {
    float: none;
    clear: both;
    height: 0px;
    margin: 0;
    @include transition(height .2s);
  }
  .show-site-nav {
    height: 56px;
    @include transition(height .2s);
  }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    text-align: center;
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Cards
 */
 .multi-col {
   display: block;
 }
 .single-col {
   display: none;
 }
 @include media-query($on-palm) {
   .multi-col {
     display: none;
   }
   .single-col {
     display: block;
   }
 }

 .cards-wrapper {
   display: -webkit-flex;
   display: flex;
   .cards {
     display: -webkit-flex;
     display: flex;
     flex-direction: column-reverse;
     justify-content: flex-end;
     align-items: center;
     padding: 0 10px 0;
   }
 }

.card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  @extend %shadow-z-1;
  @include transition(box-shadow 0.2s);
  &:hover {
    @extend %shadow-z-2;
  };

  a {

    color: $text-color;
    text-decoration: none;

    img {
      max-width: 100%;
    }
    div {
      padding: 10px;
      h2, h4 {
        margin-bottom: 0;
        text-align: center;
      }
      p {
        text-align: left;
      }
    }
  }
}

/*
 * Services
 */
.services {
  margin: 20px 0;
  padding: 20px 0;
  background-color: $grey-color-light;
  h1 {
    padding: 20px 0;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  a {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 80px;
    &:visited {
      color: $text-color;
    }
    &:hover {
      color: $primary-color;
    }
  }

  svg {
    fill: $primary-color;
    height: 100px;
  }
}


/*
 * About page
 */
.about {
  background-color: $background-color;
  margin: 50px auto;
  ul {
    margin: 0 auto;
  }
}

.about-title {
  text-align: center;
  font-size: $base-font-size * 2;
  &:not(:first-child) {
    padding-top: 100px;
  }
}

.team {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;

  li {
    width: 150px;
    padding: 10px 40px;
  }

  img {
    border-radius: 50%;
  }

  h2 {
    text-align: center;
    margin-bottom: 0;
    color: $text-color;
  }

  .name {
    margin-top: 10px;
    font-size: $base-font-size * 1.5;
  }

  .position {
    opacity: 0.6;
    font-size: $base-font-size * 1.25;
  }
}

.partners {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.partner {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 300px;
  }
  h2 {
    text-align: center;
    margin-bottom: 0;
    color: $text-color;
  }
}

.meet {
  width: 80%;
  margin: auto;
  padding: 20px;
  @extend %shadow-z-1;
  @include media-query($on-palm) {
    width: 300px;
  }
}

.meet-content {
  overflow: auto;
  img {
    margin-right: 20px;
    float: left;
    width: 40%;
    max-width: 600px;
    @include media-query($on-palm) {
      float: none;
      width: 100%;
    }
  }
}
